@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300;400;700;800&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
html {
  --space: 1rem;
  --shadow: 1px 1px 2px;
  --menu-height: 12rem;

  /* COLORES */
  --colorDeFondo: #aaf3db;
  --colorDeEnlaces: #610f88;

  /* TAMAÑOS */

  /* ABOUT */

  --about-text-l-margin: 50%;
  --about-text-r-margin: 10%;

  --about-text-width-min: 40rem;
  --about-text-width: 30%;

  --about-photo-max-width: 30%;
}

/* ELEMENTOS COMUNES */

html {
  background-color: var(--colorDeFondo);
}
/* CABECERA */

/* MENU */
menu {
  display: flex;
  justify-content: center;
  gap: var(--space);
  height: var(--menu-height);

  font-family: "Roboto Slab", serif;
  /*   font-weight: bold; */
  text-shadow: var(--shadow);
}

menu li {
  list-style-type: none;
}

a {
  color: var(--colorDeEnlaces);
  text-decoration: none;
}
/* TEXTO */
h1 {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}
/* FOOTER */
footer {
  text-align: left;
}

/* about  */
#about {
  text-align: center;
}

#about main {
  height: calc(calc(100vh - var(--menu-height)) - 4rem);
}

#about h1,
#about main h2,
#about main p,
#about main a {
  margin-right: var(--about-text-r-margin);
  margin-left: var(--about-text-l-margin);
  overflow: hidden;
}
#about img {
  border-radius: 50%;
  width: calc(var(--about-text-l-margin) - var(--about-text-r-margin));
  max-width: var(--about-photo-max-width);

  position: relative;
  bottom: 17rem;
  right: calc(calc(var(--about-photo-max-width) / 2) + 2rem);
}

/* debug */
/* body * {
  border-width: 1px;
  border-style: solid;
}
 */
