@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300;400;700;800&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
html {
  --space: 1rem;
  --shadow: 1px 1px 2px;
  --menu-height: 20vh;

  /* COLORES */
  --colorDeFondo: #b8e3f0;
  --colorDeEnlaces: #610f88;

  /* TAMAÑOS */
  --space: 1rem;

  /* ABOUT */

  --about-grid-c1-whidth: 35vw;
  --about-grid-c2-whidth: 35vw;
  --about-grid-c1-min-whidth: 20rem;
  --about-grid-c2-min-whidth: 20rem;
  --about-grid-c1-max-whidth: 400px;
  --about-grid-c2-max-whidth: 400px;

  --about-grid-r1-height: var(--menu-height);
  --about-grid-r2-height: 3rem;
  --about-grid-r3-height: 2rem;
  --about-grid-lr-height: 2rem; /* last row*/

  --projects-article-width: 15rem;
  --projects-lr-margin: 10rem;

  --contact-grid-width: 23.6rem;
  /*   --about-text-l-margin: 50%;
  --about-text-r-margin: 10%;
  --about-text-width-min: 40rem;
  --about-text-width: 30%;
  --about-photo-max-width: 30%;
 */
}

/* ELEMENTOS COMUNES */

html {
  background-color: var(--colorDeFondo);
}
body {
  height: 100vh;
  text-align: center;
  justify-items: center;
  align-items: start;

  display: grid;
  grid-template-columns: 100vw;
}
/* CABECERA */

/* MENU */
menu {
  display: flex;
  justify-content: center;
  gap: var(--space);
  height: var(--menu-height);

  font-family: "Roboto Slab", serif;
  /*   font-weight: bold; */
  text-shadow: var(--shadow);
}

menu li {
  list-style-type: none;
}

a {
  color: var(--colorDeEnlaces);
  text-decoration: none;
}
/* TEXTO */
h1 {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}
/* FOOTER */
footer {
  text-align: left;
  margin-left: var(--space);
  justify-self: start;
  grid-area: footer;
}

/* about  */
#about {
  grid-template-rows:
    calc(var(--about-grid-r1-height) + var(--about-grid-r2-height))
    1fr var(--about-grid-lr-height);
  grid-template-areas:
    "header "
    "body"
    "footer";
}
#about header {
  grid-area: header;

  display: grid;
  gap: var(--space);
  grid-template-columns:
    minmax(var(--about-grid-c1-min-whidth), var(--about-grid-c1-whidth))
    minmax(var(--about-grid-c1-min-whidth), var(--about-grid-c2-whidth));
  grid-template-rows: var(--about-grid-r1-height) var(--about-grid-r2-height);
  grid-template-areas:
    "menu menu "
    "photo name";
  align-content: start;
}

#about header menu {
  grid-area: menu;
}

#about header h1 {
  grid-area: name;
}

#about main {
  grid-area: body;

  display: grid;
  gap: var(--space);

  grid-template-columns:
    minmax(var(--about-grid-c1-min-whidth), var(--about-grid-c1-whidth))
    minmax(var(--about-grid-c1-min-whidth), var(--about-grid-c2-whidth));
  grid-template-rows: var(--about-grid-r2-height) var(--about-grid-r3-height) repeat(
      5,
      fit-content
    );
  grid-template-areas:
    "photo name "
    "photo profession "
    "photo p1 "
    "photo p2 "
    "photo p3 "
    "photo p4 "
    "photo cv";
}
#about main h2 {
  grid-area: profession;
}
#about main a {
  grid-area: cv;
}
#about main img {
  grid-area: photo;
  border-radius: 50%;
  width: var(--about-grid-c1-whidth);
  min-width: var(--about-grid-c1-min-whidth);
  max-width: var(--about-grid-c1-max-whidth);
}

#about main p:nth-of-type(1) {
  grid-area: p1;
}
#about main p:nth-of-type(2) {
  grid-area: p2;
}
#about main p:nth-of-type(3) {
  grid-area: p3;
}
#about main p:nth-of-type(4) {
  grid-area: p4;
}

#about footer {
  margin-left: var(--space);
  justify-self: start;
  grid-area: footer;
}

/* projects */

#projects {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}
#projects menu {
  width: 100vw;
  height: calc(var(--menu-height) / 2);
}
#projects h1 {
  width: 100vw;
}
#projects > header {
  align-content: center;
}
#projects .html header,
.css header,
.javascript header {
  text-align: left;
  margin-left: var(--projects-lr-margin);
  margin-right: var(--projects-lr-margin);
}
#projects .html main,
.css main,
.javascript main {
  display: flex;
  margin-left: var(--projects-lr-margin);
  margin-right: var(--projects-lr-margin);
  margin-bottom: var(--space);

  flex-wrap: wrap;
  gap: var(--space);
  text-align: justify;
}

#projects article {
  width: var(--projects-article-width);
  background-color: azure;
  border-radius: 1rem;
  padding: 1rem;
}
#projects article a:first-of-type {
  font-size: 0;
  display: inline-block;

  width: 5rem;
  height: 5rem;
  background-image: url("../Images/github-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

#projects article a:last-of-type {
  font-size: 0;
  display: inline-block;

  width: 5rem;
  height: 5rem;
  background-image: url("../Images/eye-image.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

/*     background-image: url("icons/mic-svgrepo-com.svg");
  background-color: rgb(2, 153, 138);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;

  background-size: 50%;
 */

/* contact */

#contact {
  grid-template-rows:
    calc(var(--about-grid-r1-height) + var(--about-grid-r2-height))
    1fr var(--about-grid-lr-height);
  grid-template-columns: 100vh;
  grid-template-areas:
    "header "
    "body"
    "footer";
}
#contact header {
  grid-area: header;
}
#contact main {
  grid-area: body;
  display: grid;
  grid-template-rows: 1.2rem 1fr;
  grid-template-columns: var(--contact-grid-width);
  text-align: start;
}
#contact footer {
  grid-area: footer;
}

/* debug */
/* body * {
  border-width: 1px;
  border-style: solid;
}
 */
